body {
	font-family: 'Arial', sans-serif;
}
header {
	background-image: url(../img/Layer-32.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 739px;
}
nav {
	float: right;
	margin-top: 48px;
}
.menu {
	display: block;
}
.menu li {
	display: block;
	float: left;
	margin-right: 40px;
}
.menu a {
	color: #fff;
	text-transform: uppercase;
	font-style: 14px;
}
.titles_fisrt {
	font-size: 24px;
	color: #ffc61a;
	text-transform: uppercase;
	text-align: center;
	margin-top: 95px;
	font-weight: bold;
}
.titles_second {
	font-size: 48px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}
.button {
	display: block;
	text-align: center;
	margin-top: 15px;
}
.images {
	position: absolute;
	top: 330px;
	left: calc(50% - 860px / 2);
}
.second {
	background: #ffc61a;
	padding-top: 150px;
	background-repeat: no-repeat;
	background-size: cover;
}
.podrobnee {
	padding-bottom: 45px;
}
.info {
	padding-bottom: 25px;
}
.third {
	height: 761px;
}
.third_fisrt {
	font-size: 34px;
	color: #ffc61a;
	text-transform: uppercase;
	text-align: center;
	margin-top: 54px;
	font-weight: bold;
}
.third_second {
	font-size: 42px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	line-height: 0.6;
	padding-bottom: 120px;
}
.komfort {
	height: 425px;
	background: #f5f4f2;
}
.images_third {
	position: absolute;
	top: -84px;
}
.komfort h2 {
	padding-top: 120px;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 18px;
}
.biznes h2 {
	padding-top: 120px;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 18px;
}
.biznes {
	height: 425px;
	background: #ffc61a;
}
.komfort .text {
	text-align: center;
	padding-bottom: 20px;
	font-size: 18px;
}
.biznes .text {
	text-align: center;
	padding-bottom: 20px;
	font-size: 18px;
}
.komfort .text2 {
	text-align: center;
	text-transform: uppercase;
	color: #ffc61a;
	font-size: 42px;
	font-weight: bold;
}
.biznes .text2 {
	text-align: center;
	text-transform: uppercase;
	color: #121212;
	font-size: 42px;
	font-weight: bold;
}