body {
	font-family: 'Roboto Slab', serif;
	background: #ffc61a;
	font-size: 18px;
	text-align: center;
	padding-top: 30px;
	color: #000;
}
a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}
p {
	font-weight: bold;
}